<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - AJ Celiano</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/site")
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="col-md-12" style="background-color:#fff;">
        @if (ViewBag.Title == "Homee")
        {
        <a href="/Contact/ContactInfo" style="position:absolute;right:0;padding-left:15px; margin-top:10px;width:250px;" class="home-read-more-btn-about-us">Service Request Inquries</a>
        }
        <div class="header-logo col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3" style="margin-top:10px;">
            <img src="~/Content/Images/Logo.png" />
        </div>
        <div class="navbar col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 no-padding">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/AboutUs/History">About Us</a>
                </li>
                <li class="sublink">
                    <a>Services</a>
                    <div class="sublink-content">
                        <ul>
                            <li>
                                <a href="/Services/MechanicalConstructionDesign">Mechanical Construction Design</a>
                            </li>
                            <li>
                                <a href="/Services/Installation">Installation</a>
                            </li>
                            <li>
                                <a href="/Services/RetroFit">Retrofit Process</a>
                            </li>
                            <li>
                                <a href="/Services/ServiceRepair">Service Repair</a>
                            </li>
                            <li>
                                <a href="/Services/PreventativeMaintenance">Preventative Maintenance</a>
                            </li>
                            <li>
                                <a href="/Services/BuildingAutomation">Building Automation</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sublink">
                    <a>Contact</a>
                    <div class="sublink-content">
                        <ul>
                            <li>
                                <a href="/Contact/ContactInfo">Contact Information</a>
                            </li>
                            <li>
                                <a href="/Contact/Careers">Careers</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="col-md-12 no-padding">
        @RenderBody()
    </div>
    <footer class="col-md-12">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-3 visible-lg visible-md">
                <div class="col-md-12 footer-logo">
                    <img src="~/Content/Images/Logo_Footer.png" />
                </div>
                <div class="col-md-12">
                    <span>
                        AJ Celiano has been a Family Business Over 80 Years delivering quality and innovative HVAC solutions as "Commercial Comfort Engineers".
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="section-title">
                    <span>Contact</span>
                </div>
                <div>
                    <a href="https://www.google.com/maps/place/460+Ludlow+Ave,+Cranford,+NJ+07016" target="_blank"><i class="fa fa-map-marker"></i>460 Ludlow Ave Cranford, NJ 07016</a>
                </div>
                <div>
                    <a href="tel:9082727510"><i class="fa fa-phone"></i>(908)-272-7510</a>
                </div>
                @*<div>
                    <a href="mailto:info@ajceliano.com"><i class="fa fa-envelope"></i>info@ajceliano.com</a>
                </div>*@
                <div>
                    <a href="tel:9082720291"><i class="fa fa-fax"></i>Fax: (908)-272-0291</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="section-title">
                    <span>Office Hours</span>
                </div>
                <div class="hours">
                    <span>Monday-Friday: 8am to 5pm</span>
                </div>
                <div class="hours">
                    <span>Saturday: Closed</span>
                </div>
                <div class="hours">
                    <span>Sunday: Closed</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="section-title">
                    <span>Connect</span>
                </div>
                <div>
                    <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook-square fa-5x"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin-square fa-5x"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram fa-5x"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

<script>
    $(document).ready(function () {
        navigation.init();
    });
</script>